
<ion-header>
  <ion-navbar>
    <ion-title text-center>Resultados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-textarea rows="15" [(ngModel)]="explic">
    </ion-textarea>
  </ion-item>
  <ion-card >
      <ion-card-header>
          <ion-label>Mostrar procedimiento</ion-label>
          <ion-toggle [(ngModel)]="mostrar_procedimiento"></ion-toggle>
      </ion-card-header>
      <hr>
      <ion-card-content>
        <div *ngIf="mostrar_procedimiento == true">
            <p *ngFor="let texto of textos">{{texto}}<p>
        </div>
      </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header>
      <h1 ion-text color="secondary">Resultados</h1>
    </ion-card-header>
    <hr>
    <ion-card-content>
      <div *ngFor="let componente of componentes_resultado">
          <div *ngIf="componente.tipo == 'encabezado'">
            <ion-item>
              <h2 ion-text color="dark">{{componente.valor[0]}}</h2>
            </ion-item>
          </div>
          <div *ngIf="componente.tipo == 'normal'">
            <ion-row>
              <ion-col col-sm-12 col-md-2>
                  <ion-row justify-content-end> 
                      <h3 ion-text color="primary">{{componente.valor[0]}}</h3>
                  </ion-row>
              </ion-col>
              <ion-col col-sm-12 col-md-2>
                <ion-row justify-content-end> 
                    <h3 ion-text color="primary">{{componente.valor[1]}}</h3>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="componente.tipo == 'uno_centrado'">
            <ion-row justify-content-center class="uno-centrado">
              <h3 ion-text color="dark">{{componente.valor[0]}}</h3>
            </ion-row>
          </div>
          <div *ngIf="componente.tipo == 'uno'">
            <ion-row class="uno">
              <h3 ion-text color="dark">{{componente.valor[0]}}</h3>
            </ion-row>
          </div>
          <div *ngIf="componente.tipo == 'negritas'">
              <ion-row>
                  <ion-col col-sm-12 col-md-2>
                      <ion-row justify-content-end> 
                          <h3 ion-text color="dark">{{componente.valor[0]}}</h3>
                      </ion-row>
                  </ion-col>
                  <ion-col col-sm-12 col-md-2>
                    <ion-row justify-content-end> 
                        <h3 class="negritas" ion-text color="dark">{{componente.valor[1]}}</h3>
                    </ion-row>
                  </ion-col>              
              </ion-row>
            </div>
      </div>
    </ion-card-content>
</ion-card>
</ion-content>
