.uno-centrado {
    border: 1px solid #0febcd;
    background-color: #dfdcd3fa;
}
.uno {
    border: 1px solid #792ee9;
    background-color: #8e8b9cfa;
}
.negritas{
    font-weight: 800 !important;
}

